.sidebar-bottom {
    width: 127px;
    height: 175px;
    border-left: 2px solid #7f7f7f;
    margin-left: -2px;
    margin-top: 5px;
    align-self: flex-end;
}

/* main-nav */
.main-nav {
    margin: 90px 125px 70px 0;
}

.main-nav > nav {
    text-align: right;
}

.nav_item {
    display: inline;
}

.nav_item > a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_item:not(:last-child) {
    margin-right: 30px;
}


.main-nav .h4-title:before {
    content: url(../img/arrow-back.png);
    margin-right: 10px;
}

/* social-icons */
.social-icons {
    display: none;
    transition: 0.3s;
    width: 17px;
    text-align: center;
    transition: 0.3s;
    position: absolute;
    bottom: 5px;
    left: 25px;
    z-index: 2;
    background: #fff;
}

.social-icons  img {
    margin-bottom: 13px;
    cursor: pointer;
}

.social-icons  img:hover {
    opacity: 0.7;
}

.sidebar-bottom:hover .social-icons{
    display: block;
}

.share {
    position: absolute;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
}

/* titles */
.h4-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

/* btn */
.btn {
    width: 210px;
    height: 50px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.artist-work .btn {
    border: none;
    width: 240px;
    margin: 25px 0;
}

.artist-work .btn:after {
    content: url(../img/btn-arrow.png);
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}

.btn:before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -2px;
}

/* form */
.form textarea {
    border: none;
    outline: none;
    width: 100%;
    max-width: 220px;
    height: 30px;
    border-bottom: 1px solid #b1b1b1;
    margin-bottom: 25px;
}

.form .h3-title {
    margin-bottom: 35px;
}

::-webkit-input-placeholder {
    color: #b1b1b1;
    font-style: italic;
    font-size: 15px;
    line-height: 27px;
    height: 27px;
}
::-moz-placeholder {
    color: #b1b1b1;
    font-style: italic;
    font-size: 15px;
    line-height: 27px;
    height: 27px;
}
:-moz-placeholder {
    color: #b1b1b1;
    font-style: italic;
    font-size: 15px;
    line-height: 27px;
    height: 27px;
}
:-ms-input-placeholder {
    color: #b1b1b1;
    font-style: italic;
    font-size: 15px;
    line-height: 27px;
    height: 27px;
}

/* hint */
.hint {
    width: 340px;
    height: 108px;
    background-color: #000000c7;
    position: absolute;
    left: 115px;
    margin-top: 20px;
    color: #fff;
    padding: 27px 0 27px 33px;
    display: flex;
   justify-content: center;
    flex-direction: column;
}

.hint:after {
    content: '';
    border: 20px solid transparent;
    border-bottom: 20px solid #000000c7;
    position: absolute;
    left: 34px;
    top: -40px;
}

.hint:before {
    content: '';
    width: 310px;
    height: 65px;
    border: 2px solid #fff;
    display: block;
    position: absolute;
    left: 14px;
    top: 25px;
}

.hint p {
    margin: 2px 0;
    font-size: 14px;
}

.hint p:first-child {
    font-size: 16px;
}

.hint-close {
    position: absolute;
    top: 25px;
    right: 35px;
    cursor: pointer;
    border-top: 2px solid #000000c7;
}

/* one artist work */
.one-work-wrapper {
    display: flex;
    align-items: flex-start;
}

.one-work {
    width: calc(100% - 125px - 282px);
}

.one-work-wrapper > div:first-child {
    border-right: 2px solid #7f7f7f;
}

.one-work-wrapper .sidebar {
    align-self: flex-end;
}

.one-work-wrapper form {
    margin-bottom: 127px;
    margin-top: 0;
}

.one-work-wrapper .share {
    top:5px;
    bottom: auto;
}

.one-work-wrapper .sidebar:hover .social-icons {
    display: block;
}

.one-work {
    display: flex;
    padding: 0 45px 100px 45px;
}

.one-work .proj-name{
    margin-left: 45px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.one-work-photo {
    align-self: flex-end;
    position: relative;
    z-index: 100;
}

/* fancy */
.one-work-photo:hover::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5) url(../img/image-on.png) no-repeat center;
    z-index: 101;
    pointer-events: none;
}

.fancybox-button--zoom {
    display: none !important;
}

.fancybox-toolbar {
    top: 40px !important;
    right: 75px !important;
    font-size: 60px !important;
}

.fancybox-button {
    background: none !important;
}

.fancybox-button svg {
    width: 50px !important;
    height: 50px !important;
    color: #fff !important;
}

.image-zoom{
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.fancybox-active .image-zoom {
    opacity: 1;
    visibility: visible;
    position: fixed;
    bottom: 15%;
    width: 100%;
    max-width: 780px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    z-index: 100000;
}

/* input range styles */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background-color: #535353;
}

  input[type=range]::-webkit-slider-thumb {
    width: 26px;
    height: 26px;
    background-color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: #535353;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background-color: #535353;
}

input[type=range]::-moz-range-thumb {
    height: 26px;
    width: 26px;
    background: #fff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
      background-color: #535353;
}

input[type=range]::-ms-fill-upper {
    background-color: #535353;
}

input[type=range]::-ms-thumb {
    height: 26px;
    width: 26px;
    background: #fff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background-color: #535353;
}

input[type=range]:focus::-ms-fill-upper {
    background-color: #535353;
}


/* artist all works */
.artists-wrapp {
    width: calc(100% - 125px);
    padding: 55px 0 0 0;
}

.artists-pics-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 45px 0 0 0;
}

.artists-pics-item {
    width: 360px;
    margin-right: 45px;
    margin-bottom: 75px;
    position: relative;
    width: calc(100% / 3 - 30px);
}

.artists-pics-item:nth-child(3n+3) {
    margin-right: 0;
}

.artists-pics-item-info > .h3-title:after {
   content: url(../img/btn-arrow.png);
    margin-left: 10px;
    vertical-align: text-bottom;
}

.artists-pics-item-img {
    margin-bottom: 40px;
}

.pic-available {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1.4px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.artists-pics-item .share {
    position: static;
}

.artists-pics-item .share-wrapper {
    position: static;
}

.artists-pics-item .social-icons {
    width: 130px;
}

.artists-pics-item  .social-icons img {
    margin-right: 13px;
}

.share-wrapper {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -20px;
    right: 0;
}

.share-wrapper:hover .social-icons {
    display: block;
}

.artists-pics-item .share {
    position: static;
}

.artists-pics-item .share-wrapper {
    position: static;
}

.artists-pics-item .social-icons {
    width: 130px;
}

.artists-pics-item  .social-icons img {
    margin-right: 13px;
}
