.artists-title, .pab-title {
    font-size: 35px;
    line-height: 29.41px;
    text-transform: uppercase;
}

/* main-nav */
.main-nav {
    margin: 90px 135px 70px 0;
}

.main-nav > nav {
    text-align: right;
}

.nav_item {
    display: inline;
}

.nav_item > a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_item:not(:last-child) {
    margin-right: 30px;
}

.nk_to-prev-page {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.nk_to-prev-page:before {
    content: url(../img/arrow-back.png);
    margin-right: 10px;
}

/* artist works */
.artists-wrapp {
    width: calc(100% - 125px);
}

.artists-pics-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.artists-pics-item {
    width: 360px;
    margin-right: 45px;
    margin-bottom: 75px;
    position: relative;
    width: calc(100% / 3 - 30px);
}

.artists-pics-item:nth-child(3n+3) {
    margin-right: 0;
}

.artists-pics-item-info > .h3-title:after {
   content: url(../img/btn-arrow.png);
    margin-left: 10px;
    vertical-align: text-bottom;
}

.artists-pics-item-img {
    margin-bottom: 40px;
}

.pic-available {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1.4px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.artists-pics-item .share {
    position: static;
}

.artists-pics-item .share-wrapper {
    position: static;
}

.artists-pics-item .social-icons {
    width: 130px;
}

.artists-pics-item  .social-icons img {
    margin-right: 13px;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.pagination a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid transparent;
    text-decoration: none;
    margin: 0 8px;
    transition-duration: 0.2s;
    position: relative;
    text-align: center;
    font-size: 14px;
}

.pagination a.active, .pagination a.prev, .pagination a.next {
    border: 1px solid #000;
}

.pagination a.prev, .pagination a.next {
    font-size: 12px;
}

.pagination a.active:after, .pagination a.prev:after, .pagination a.next:after {
    content:'';
    width: 10px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: -1px;
    right: 5px;
}

/* social-icons */
.social-icons {
    display: none;
    transition: 0.3s;
    width: 17px;
    text-align: center;
    transition: 0.3s;
    position: absolute;
    bottom: 5px;
    left: 25px;
    z-index: 2;
    background: #fff;
}

.social-icons  img {
    margin-bottom: 13px;
    cursor: pointer;
}

.social-icons  img:hover {
    opacity: 0.7;
}

.sidebar-bottom:hover .social-icons{
    display: block;
}

.share {
    position: absolute;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
}

.share-wrapper {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -20px;
    right: 0;
}

 .share-wrapper:hover .social-icons{
    display: block;
}

/* languages */
.language-list {
    display: flex;
    justify-content: flex-end;
}

.language-item {
    margin-right: 25px;
    font-size: 14px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    position: relative;
    cursor: pointer;
}

.language-selected:after {
    content: url(../img/selected-lg.png);
    position: absolute;
    bottom: -5px;
    left: 0;
}

/* btn */
.btn {
    width: 210px;
    height: 50px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.artist-work .btn {
    border: none;
    width: 240px;
    margin: 25px 0;
}

.artist-work .btn:after {
    content: url(../img/btn-arrow.png);
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}

.btn:before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -2px;
}
