.artists-title, .pab-title {
    font-size: 35px;
    line-height: 29.41px;
    text-transform: uppercase;
}

/* nav */
.main-nav {
    align-items: flex-end;
    margin: 90px 125px 70px 0;
}

.nav_item {
    display: inline;
}

.nav_item > a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_item:not(:last-child) {
    margin-right: 30px;
}

/* social-icons */
.social-icons {
    display: none;
    transition: 0.3s;
    width: 17px;
    text-align: center;
    transition: 0.3s;
    position: absolute;
    bottom: 5px;
    left: 25px;
    z-index: 2;
    background: #fff;
}

.social-icons  img {
    margin-bottom: 13px;
    cursor: pointer;
}

.social-icons  img:hover {
    opacity: 0.7;
}

.sidebar-bottom:hover .social-icons{
    display: block;
}

.share {
    position: absolute;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
}

/* titles */
.title-h3, .lecture-date  {
    color: #8f8f8f;
    font-size: 14px;
    font-style: italic;
    line-height: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.lecture-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0;
}

/*lecture block */
.lecture-block {
   width: 1216px;
}

.lecture-block-wrapper > div:not(:last-child) {
    border-right: 2px solid #7f7f7f;
}
.lecture-block {
    padding: 35px;
    position: relative;
}
.lecture-block p {
    margin: 0;
}

.lecture-img {
    margin-right: 50px;
}

.lecture-author, .lecture-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.lecture-block .lecture-theme {
    font-size: 16px;
    font-weight: 600;
    margin-top: 22px;
}

.lecture-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    width: 210px;
    height: 50px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.btn:before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -2px;
}

.lecture-btn {
    position: absolute;
    bottom: 35px;
    right: 55px;
    width: 182px;
}

.lecture-btn:after {
    content: url(../img/btn-arrow.png);
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}




/* ======================  TIRRAL  ====================== */

.lecture-block img {
  margin-right: 50px;
}



.social-icons {
    bottom: 20px;
    height: 50px;
    background-color: transparent;
}
